absl-py==2.2.0
affine==2.4.0
alabaster @ file:///croot/alabaster_1718201490751/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1736349233934/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1733311059102/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1725356560642/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asteval @ file:///home/conda/feedstock_root/build_artifacts/asteval_1737381824807/work
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1735074151157/work
astropy @ file:///home/conda/feedstock_root/build_artifacts/astropy_1680051571009/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse==1.6.3
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1733584297267/work
async_generator @ file:///home/conda/feedstock_root/build_artifacts/async_generator_1734180388035/work
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1734603084217/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1612428300666/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1733325779670/work
basemap @ file:///home/conda/feedstock_root/build_artifacts/basemap-split_1708018745201/work/packages/basemap
basemap-data @ file:///home/conda/feedstock_root/build_artifacts/basemap-split_1680540426258/work/packages/basemap_data
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1738740337718/work
binaryornot @ file:///home/conda/feedstock_root/build_artifacts/binaryornot_1734071693792/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1738616022862/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1736148489770/work
branca==0.8.1
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1725393329375/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
cffi @ file:///tmp/build/80754af9/cffi_1613246951236/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1725400455427/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1724954807150/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contextily==1.6.2
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1734069695401/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1669592186537/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
daal4py==2021.5.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
DateTimeRange==1.2.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1737269747879/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1734637534167/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1733249551891/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1733217766141/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
ephem @ file:///home/conda/feedstock_root/build_artifacts/ephem_1728258710238/work
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1601874335748/work
flatbuffers==25.2.10
folium==0.19.6
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
gast==0.6.0
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1734342349249/work
geopandas==1.0.1
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1734341931581/work
google-pasta==0.2.0
gpxpy @ file:///home/conda/feedstock_root/build_artifacts/gpxpy_1734959612265/work
grpcio==1.71.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1604753637292/work
haversine==2.8.1
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
imbalanced-learn==0.12.4
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1734732140003/work
intervaltree @ file:///home/conda/feedstock_root/build_artifacts/intervaltree_1683532206518/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1680185408135/work
ipython_genutils @ file:///home/conda/feedstock_root/build_artifacts/ipython_genutils_1733399582966/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1733493556527/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1738061237894/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1733325873251/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1733382590553/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1733746366381/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1635823954054/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
jinja2-time @ file:///home/conda/feedstock_root/build_artifacts/jinja2-time_1735140685360/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1733272076743/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1725302957584/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter @ file:///croot/jupyter_1737645803214/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1733817997778/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_events_1738765986/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1733492907176/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1734702637701/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1738184697351/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1733599573484/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1733428046021/work
kaggle==1.7.4.2
kagglehub==0.3.10
kaleido==0.2.1
keras==3.9.0
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1735210185992/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1604322292766/work
lazy-object-proxy @ file:///home/conda/feedstock_root/build_artifacts/lazy-object-proxy_1738323167073/work
libclang==18.1.1
llvmlite @ file:///croot/llvmlite_1736366675558/work
lmfit==0.9.9
Markdown==3.7
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1611858711244/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mbstrdecoder==1.1.0
mccabe==0.6.1
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mercantile==1.2.1
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1738085174704/work
mkl-service==2.4.2
mkl_fft==1.3.11
mkl_random @ file:///home/conda/feedstock_root/build_artifacts/mkl_random_1728790275641/work
ml_dtypes==0.5.1
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1736883817510/work
MouseInfo==0.1.3
mpld3==0.5.10
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1733230897951/work
namex==0.0.8
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1739221846407/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1736947152522/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1734628800805/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1738067871/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
netCDF4 @ file:///tmp/build/80754af9/netcdf4_1624439346926/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1734789425270/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1718888028049/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=b69ac3eb7538c5a224df429dc49031914fb977825ee007f2c77a13f7aa6cd769
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1733650859674/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1734769783178/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1725460861946/work
opt_einsum==3.4.0
optree==0.14.1
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897627815/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso==0.7.0
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1733233363808/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1602493092985/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1738287743623/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
poyo @ file:///home/conda/feedstock_root/build_artifacts/poyo_1736260521399/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733327310477/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
protobuf==5.29.4
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1735327345283/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pvlib @ file:///home/conda/feedstock_root/build_artifacts/pvlib_1734403096948/work
pyarrow==19.0.1
PyAutoGUI==0.9.54
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1733261631732/work
pyephem==9.99
pyephem-sunpath==0.2.2
pyerfa @ file:///home/conda/feedstock_root/build_artifacts/pyerfa_1731377659516/work
pyflakes==2.2.0
PyGetWindow==0.0.9
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pylint_1738072071/work
pyls-black @ file:///home/conda/feedstock_root/build_artifacts/pyls-black_1595615126037/work
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1613849700860/work
PyMsgBox==1.0.9
pyogrio==0.11.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyperclip==1.9.0
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1646811173434/work
PyRect==0.2.0
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1725353564320/work
PyScreeze==1.0.1
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1733821528126/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pysolar @ file:///home/conda/feedstock_root/build_artifacts/pysolar_1690646179287/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server @ file:///home/conda/feedstock_root/build_artifacts/python-language-server_1607720213724/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1733756245724/work
python3-xlib==0.15
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1733360721313/work
pytweening==1.2.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1738317518727/work
pyxdg @ file:///home/conda/feedstock_root/build_artifacts/pyxdg_1654536799286/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1666828545060/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1732204919793/work/dist/qstylizer-0.2.4-py2.py3-none-any.whl#sha256=020f9e24a101c9478a6b32575838b93eeefacc8887520a67c172ba33ad22aa2c
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1736029092834/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1733730417233/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1739289837248/work
rasterio==1.4.3
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1733342323938/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1733366641280/work
Rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1734967673030/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1736496755362/work/dist/scikit_learn-1.6.1-cp39-cp39-linux_x86_64.whl#sha256=e8f978e37bb47e04e1337a63f75697b723d6d25f58e477734555faed033884ba
scikit-learn-intelex==2021.20220207.123531
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1716470218293/work/dist/scipy-1.13.1-cp39-cp39-linux_x86_64.whl#sha256=e6696cb8683d94467891b7648e068a3970f6bc0a1b3c1aa7f9bc89458eafd2f0
seaborn @ file:///croot/seaborn_1673479180098/work
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1725915609225/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1733322040660/work
setuptools-scm @ file:///home/conda/feedstock_root/build_artifacts/setuptools_scm_1742403392659/work
shapely==2.0.7
sip==4.19.13
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sklearn-contrib-lightning @ file:///home/conda/feedstock_root/build_artifacts/sklearn-contrib-lightning_1667184982420/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1721487534232/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1733754101641/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1733754113405/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1733754280555/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1733753744933/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1733753408017/work
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1733750479108/work
spyder @ file:///tmp/build/80754af9/spyder_1618327852093/work
spyder-kernels @ file:///tmp/build/80754af9/spyder-kernels_1617396563397/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986706423/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1733649050774/work
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.37.1
tensorflow_cpu==2.19.0
termcolor==2.5.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1710262609923/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1733327295736/work
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1733749896243/work
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1736082828021/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1736031697739/work
tinycss @ file:///home/conda/feedstock_root/build_artifacts/tinycss_1735925948447/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1733230743009/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1732615921868/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typepy==1.3.0
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1733612335562/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
ujson @ file:///home/conda/feedstock_root/build_artifacts/ujson_1724954423010/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_unidecode_1733714839/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
watchdog @ file:///tmp/build/80754af9/watchdog_1612471132192/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733359735138/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
Werkzeug==3.1.3
whichcraft @ file:///home/conda/feedstock_root/build_artifacts/whichcraft_1733162103269/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1733128559935/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1736869460534/work
wurlitzer @ file:///home/conda/feedstock_root/build_artifacts/wurlitzer_1736089142811/work
xyzservices==2025.4.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1736192735449/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
